@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-sm-4">
        <div id="categories">
            @Html.Action("CategoryList")
        </div>
    </div>
    <div class="col-sm-8">
        <div id="products">
            @Html.Action("ProductList")
        </div>
    </div>
</div>